<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs') %> 

<body class="banio">
    <!--     Comienza el header---------------------------- -->
     
<%- include('../partials/header.ejs') %> 

    <!-- Fin header ------------------------------------------------------ -->

    <main>

        <section class="main-header">
            <div class="img-container">
                <img src="/img/banio.jpg" width="100%" alt="Productos para el baño">
            </div>
            <div class="tit-container">
                <h1 class="titulo">¡Ponele color a tu baño!</h1>
            </div>
        </section>

        <div class="pdtos-container">

            <article class="pdto01">
                <div class="photo">
                    <img src='/img/jabonera.jpg' width="100%" alt='Jabonera' />
                </div>
                <div class="description">
                    <div class="categoria">
                        <h3 class="subt">Jabonera</h3>
                        <i class="fas fa-regular fa-heart"></i>
                    </div>

                    <h2 class="subtprecio">$1500</h2>
                    <p>Jabonera con plato para retención de agua.</p>
                </div>
            </article>

            <article class="pdto02">
                <div class="photo">
                    <img src='/img/porta-shampoo.jpg' width="100%" alt='Porta Shampoo Solido' />
                </div>
                <div class="description">
                    <div class="categoria">
                        <h3 class="subt">Porta Shampoo Sólido</h3>
                        <i class="fas fa-regular fa-heart"></i>
                    </div>

                    <h2 class="subtprecio">$3000</h2>
                    <p>Simpática Ballena para guardar el shampoo sólido sin que quede en contacto con el agua.</p>
                </div>
            </article>

            <article class="pdto03">
                <div class="photo">
                    <img src='/img/porta-cepillo.jpg' width="100%" alt='Porta cepillos de dientes' />
                </div>
                <div class="description">
                    <div class="categoria">
                        <h3 class="subt">Porta Cepillos</h3>
                        <i class="fas fa-regular fa-heart"></i>
                    </div>

                    <h2 class="subtprecio">$1000</h2>
                    <p>Porta cepillos de dientes.</p>
                </div>
            </article>

            <article class="pdto04">
                <div class="photo">
                    <img src='/img/set-banio.jpg' width="100%" alt='Set Jabonera y porta-cepillos' />
                </div>
                <div class="description">
                    <div class="categoria">
                        <h3 class="subt">Set de Jabonera y Porta-cepillos</h3>
                        <i class="fas fa-regular fa-heart"></i>
                    </div>

                    <h2 class="subtprecio">$3000</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </article>
        </div>




    </main>


    <!-- Footer------------------------------- -->
    <%- include('../partials/footer') %> 
    <!-- Fin del footer ------------------------------------->
</body>

</html>