<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body class="cocina">
<!--     Comienza el header---------------------------- -->
<%- include('../partials/header.ejs') %> 
<!-- Fin header ------------------------------------------------------ -->


<main>
    <section class="main-header">
        <div class="img-container">
            <img src="/img/cocina.jpg" width="100%" alt="Productos para la cocina">
        </div>
        <div class="tit-container">
            <h1 class="titulo">¡Todo para tu cocina!</h1>
        </div>
    </section>
    
    <div class="pdtos-container">
    
        <article class="pdto01">
            <div class="photo">
                <img src='/img/taza01-a.jpg' width="100%" alt='Taza' />
            </div>
            <div class="description">
                <div class="categoria">
                    <h3 class="subt">Taza Mediana</h3>
                    <i class="fas fa-regular fa-heart"></i>
                </div>
                <h2 class="subtprecio">$1000</h2>
                <p>Taza mediana, capacidad 500ml. Pintada con Aljabas</p>
            </div>
        </article>
    
        <article class="pdto02">
            <div class="photo">
                <img src='/img/ensaladera-grande.jpg' width="100%" alt='Taza' />
            </div>
            <div class="description">
                <div class="categoria">
                    <h3 class="subt">Ensaladera Grande</h3>
                    <i class="fas fa-regular fa-heart"></i>
                </div>
                <h2 class="subtprecio">$3000</h2>
                <p>Ensaladera grande, 30cm de diámetro. Pintada con Lupinos</p>
            </div>
        </article>
    
        <article class="pdto03">
            <div class="photo">
                <img src='/img/jarra-grande.jpeg' width="100%" alt='Jarra grande' />
            </div>
            <div class="description">
                <div class="categoria">
                    <h3 class="subt">Jarra Grande</h3>
                    <i class="fas fa-regular fa-heart"></i>
                </div>
                <h2 class="subtprecio">$3000</h2>
                <p>Jarra Grande, capacidad 1 litro. Pintada con Aljabas</p>
            </div>
        </article>
    
        <article class="pdto04">
            <div class="photo">
                <img src='/img/porta-esponja.jpeg' width="100%" alt='Porta-esponja Gallina' />
            </div>
            <div class="description">
                <div class="categoria">
                    <h3 class="subt">Porta Esponja</h3>
                    <i class="fas fa-regular fa-heart"></i>
                </div>
    
                <h2 class="subtprecio">$3000</h2>
                <p>Porta Esponja con forma de gallina.</p>
            </div>
        </article>
    </div>
</main>


<!-- Footer------------------------------- -->
<%- include('../partials/footer.ejs') %> 
<!-- Fin del footer ------------------------------------->
</body>
</html>