main .titulo{
font-family: var(--titulos);
}

main .subt{
    font-family: var(--subtitulos);
}

body {
    font-family: var(--textos);
    background-color: var(--crema);
}


p {
    font-family: var(--textos);
    font-size: medium;
}

main .banner {
    width: 100%;
}

.photo {
    width: 100%;
}
