.back {
        font-family: var(--subtitulos);
        background-color: var(--crema);
        width: 100%;
    }
.titulo{
    font-family: var(--titulos);
    text-align: center;
}
form p{
    margin-top: 20px;
    margin-bottom: 20px;  
}
.formLogin{
    width: 100%;
    margin-left: 23%;
    margin-top: 20px;
    margin-bottom: 20px;   
}

.botonLoginContenedor{
    border: none;
    margin-right: 50%;
    margin-top: 6px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.botonLogin {
   border: none;
    color: white;
    width: 90%;
    padding: 4px;
    border-radius: 10px;
    background-color: var(--rojo);
    font-family: var(--textos);
}
@media (min-width: 481px){ 
    .formLogin{
        margin-left: 33%;
    }
    .botonLoginContenedor {
        margin-right: 65%;
    }
}
@media (min-width: 769px){ 
    .formLogin{
        margin-left: 38%;
    }
    .botonLoginContenedor {
        margin-right: 78%;
        padding-top: 15px;
    }
}