*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 .header .menu-pc, .header .menupc-navbar {
    display: none;
} 

.header .menu-rp {
    margin-top: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header .menu-rp .user-menu {
    padding: 7px;
}

.header .icon-menu{
    margin: 15px 35px; 
    position: relative;
    z-index: 10;
    
}
.header .icon-menu small{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 7px;
}
.header .cont-menu{
    background-color: var(--bordo);
  /*   box-shadow: 2px 0px 5px 2px rgb(66,66,66); */
    width: 360px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .6s ease;
    z-index: 1;
} 
.header .cont-menu ul{
    margin-left: 25px;
    margin-right: 50px;
    color: var(--crema);
    display: block;
    font-size: 20px;
    font-family: var(--tiulos);
    text-decoration: none;
    padding: 10 px 50px;
    cursor: pointer;
}

.header .cont-menu ul .menu-option {
margin-top: 10px;
border-bottom: 1px solid var(--crema);
}

.header .cont-menu ul li:hover{
    background-color: var(--rojo);

}
/* estilos de js */
.header .active {
    transform: translate(-600px);
    transition: all .6s ease;
}
.header .opacity{
    background-color: var(--bordo);
    transition: all .6s ease;
}
.header a{
    font-family: var(--textos);
}

/* .header {
    display: flex;
<<<<<<< HEAD
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--bordo) ;
    height: 105px;
    justify-content: space-between;
}
=======
    justify-content: center;
   background-color: var(--bordo);
} */
>>>>>>> menu-responsive

.header .options a {
    font-family: var(--titulos);
    text-decoration: none;
    color: var(--crema);
   background-color: transparent;
   border-radius: 50px;
    padding: 4px 20px;
    transition: 0.7s ease-out;
}

.header .options a:hover {
     background-color: var(--crema);
}

.header li {
    list-style: none;
}

.header .imgConteiner{
    width: 50%;
    padding-top: 15px;
}

.header .logo {
    display: block;
    width: 100%;
}

.header a.linkLogo{
    display: block;
    width: 140px;
    margin-left: 15px;
}

<<<<<<< HEAD
.header .esquina {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: rigth;
}

.header .carrito i{
    width: 25px;
    height: 25px;
=======

.header a.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
>>>>>>> menu-responsive
}

/* .header a.admin{
    width: 40px;
    height: 40px;
} */

<<<<<<< HEAD
.user{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--crema);
    margin-left: 30px;
    display: block;
}
.user1{
=======
.header .user{
>>>>>>> menu-responsive
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--crema);
}



/* MENU HAMBURGUESA */
<<<<<<< HEAD
.header .menu-hamburguesa .menu{
=======
.header input.menu{
>>>>>>> menu-responsive
    display: none ;
}

.header .options {
    display: none;
} 

.header .hamburguesa {
    color: var(--crema);
}

<<<<<<< HEAD
.header .searchBar {
=======
.header label {
>>>>>>> menu-responsive
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
}


/* .header div.menuBttn input:checked ~ nav.options ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
} */

.header .searchBar{
    width: 100%;
}

.header .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: .5px 20px;
}

.header .search input{
    flex-grow: 2;
    width: 80%;
    border-radius:0 10px 10px 0;
    margin-bottom: 10px;
    border: none;
}

.header .search .searchBttn{
        width: 20px;
        height: 16px;
        background-color: white;
        border: none;
        border-radius: 10px 0 0 10px;    
}

.header .search i.fas{
    font-size: 80%;
}

<<<<<<< HEAD
/* .header .cerrarSesion {
    display: none;
} */
=======
.header .esquina {
    display: none;
}

>>>>>>> menu-responsive

.header .esquina {
    display: none;
}

.header .menu-hamburguesa {
    display: flex;
    align-items: center;
}


@media (min-width: 481px){

<<<<<<< HEAD
    .header {    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--bordo) ;
        height: 200px;
        justify-content: space-between;
    }

=======
    /* HEADER */

/* .header .menu-pc {
    display: none;
} */
    .header{
        height: 145PX;
    }

    .header .menu-rp .user-menu {
        padding: 10px;
    }

>>>>>>> menu-responsive
    .header img.logo, .header a.linkLogo{
        width: 250px;
    }

    .header a.carrito .fas{
        width: 30px;
        height: 30px;
    }

    .header .user {
        width: 30px;
        height: 30px;
    }

    .header .hamburguesa{
        font-size:  25px;
        align-self: rigth;
    }

    .header .search input{
        height: 27px;
    }

    .header .search .searchBttn{
        height: 27px;
        width: 20px;
    } 

    .header .options {
        height: 100vh;
        align-self: rigth;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
    }

    .uno {

        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);

    }

    .dos {

        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);

    }
    

}


/*     DESKTOP----------- */

@media (min-width:768px){

     .header{
        height: 200px;
    }

<<<<<<< HEAD
    .header .imgConteiner {
        padding-top: 20px;
=======
@media (min-width:769px){

    
    .header .esquina {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

.header .menu-rp {
    display: none;
}
/*     .header {
        margin-top: 10px;
    } */

    .header {
        display: flex;
        flex-wrap: wrap;
>>>>>>> menu-responsive
    }

    .header .esquina{
        width: 30%;
        justify-content: space-evenly;
    }

/*   .user{
        display: none;
    } 
    .user1{
        display: block;
    } */

    .header .icon-menu{
        display: none;
    }
    .header .cont-menu{
    display: none;
    }

  /*   .header div.menuBttn{
        width: 70%;
        align-items: center;
        padding-bottom: 18px;
    } */

    .header .menupc-navbar{
        display: block;
        width: 70%;
    }

    .header .menupc-navbar ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .header .menupc-navbar li {
        width: 24%;
        text-align: center;
    }

    .header a {
        font-family: var(--titulos);
        cursor: pointer;    
        text-decoration: none;
        color: var(--crema);
    }
    
    .header .options li:hover {
        color: var(--bordo);
    }

    .header .cerrarSesion {
        font-family: var(--subtitulos);
        color: var(--crema);
        background-color: var(--bordo);
        border: none;
        display: block;
        font-size: 18px;

    }

    .header .esquina .carrito:hover {
        color: var(--amarillo);
    }

    .header .esquina .cerrarSesion:hover {
        color: var(--amarillo);
    }

    .header .esquina .user:hover{
background-color: var(--amarillo);
    }

    .header .hamburguesa {
        display: none;
    }

    .header div.searchBar{
        width: 30%;
    }

    


    

    /* footer */

   /*  .footer nav.Contact{
        padding-left: 60px;
    } */

    .header .menu-desplegable {
        display: none;
    }

    .header .esquina {
        display: flex;
    }
}

@media (min-width: 1199px){

        .header {
           padding: 0 75px;
        }
    
}
