.home {
    width: 100%;
    color: var(--bordo);

}

.home .titulo{
font-family: var(--titulos);
text-align: center;
color: var(--rojo);
margin-top: 15px;
}

.home .subt{
    font-family: var(--subtitulos);
    color: var(--rojo);
}

.home .banner  {
width: 100%;
height: 360px;
display: flex;
align-items: center;
justify-content: space-between;
background-image: url("/img/banner01.jpg");
background-size: cover;
background-repeat:no-repeat;
background-position: center;
}

.home .banner button {
    margin: 15px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--crema);
    font-size: 40px;
}

.home .banner button:hover {
    color: var(--bordo);
}

.home .banner .titulo {
    color: var(--crema);
}

.body-home {
    font-family: var(--textos);
    background-image: url("../img/background.jpg");
}

.body-home p {
    font-family: var(--textos);
}

.home .tit-container {
    padding-bottom: 7px;
    border-bottom: solid 2px var(--rojo);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
}


.home .nosotras .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home .nosotras p {
      margin: 15px;
}

.home .button {
    border: solid 2px var(--rojo);
    color: var(--rojo);
    background-color: var(--crema);
    padding: 5px;
    border-radius: 50px;
    font-family: var(--subtitulos);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.home .button:hover {
    border: solid 2px var(--rojo);
    color: var(--crema);
    background-color: var(--rojo);
    padding: 5px;
    border-radius: 50px;
    font-family: var(--subtitulos);
    font-size: 20px;
    text-align: center;    
    text-decoration: none;
}

.home .button h4 {
    margin-left: 10px;
    margin-right: 10px;
}

.home.button:hover {
    background-color: var(--rojo);
}


.home .fav-container{
    display: flex;  
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    }

    .home .fav-1, .fav-2 {
    width: 45%;
}

.home .fav-3, .fav-4{
    display: none;
}


.home .favorito i {
    color: var(--bordo)

}

.home .fav-container .categoria {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}

.home .categorias {
    width: 100%;
    position: relative;
}

.home .categorias a {
    text-decoration: none;
}

.home .sec-categorias a{
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    background-color: #922814ad;
    color: var(--crema);
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;  
}


.home .categorias .img-container  {
    width: 100%;
    position: relative;
}

.home .tit-categorias .titulo{
    font-size: 50px;
    text-decoration: none;
    text-align: center;
}

.home .direccion h3 {
    text-align: center;
    padding-bottom: 15px;
}

.home .map-container {
    width: 100%;
}

/* .home .map-container .mapa {
    height: 450px;
}
 */
.home .mapa iframe {
    width: 100%;
}


/* -------- Tablet --------- */
/* -------- Tablet --------- */

@media (min-width: 481px) {
 
  
    .home .nosotras .video{
    width: 70%;
}

.home .nosotras .text-container {
    width: 70%;
}

.home .nosotras .info {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.home .fav-container{
        display: flex;  
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        }


        .home .fav-3 {
     display: block;
 }

 .home .fav-1, .fav-2, .fav-3 {
    width: 40%;
}

.home .map-container .direccion h3 {
    font-family: var(--subtitulos);
    padding-bottom: 15px;
    }

.home .map-container {
width: 100%;
}

.home .map-container .mapa iframe {
    width: 100%;
}
    

}



/*------------desktop--------------*/
/*------------desktop--------------*/

@media (min-width:769px) {

    .home .banner {
        height: 450px;
    }

    .home .nosotras .info {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .home .nosotras .video {
    width: 40%;
    }

    .home .nosotras .text-container {
        width: 40%;
        }
 
    .home .fav-4{
        display: block;
    }

    .home .fav-1, .fav-2, .fav-3, .fav-4{
        width: 20%;
    }
    
    .home .fav-container{
        display: flex; 
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }

    .home .sec-categorias .img-container {
    width: 40%;
    }

    .home .sec-categorias {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .home   .map-container {
       width: 100%;
    }   
    
    .home  .mapa iframe {
        width: 100%;
    }
}