main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--subtitulos);
    background-color: var(--crema);
    width: 100%;
    justify-content: center;
}
.login .titulo{
    font-family: var(--titulos);
    text-align: center;
    color: var(--rojo);
    margin-top: 35px;
    margin-bottom: 25px;
}
.login .cont.titulo{
    border-bottom: solid 2px var(--rojo);
}
.login form p{
margin-top: 20px;
margin-bottom: 20px;  
}
.login .formLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.login label{
    display: flex;
    justify-content: left;
    color: var(--bordo);
    font-weight: bold;
}
.login .tamaño {
    border-radius: 3%;
    border: solid 2px var(--rojo);
    height: 23px;
    width: 255px;
}

.login .botonLoginContenedor{
    border: none;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .botonLogin {
    border: none;
    color: white;
    width: 110px;
    padding: 9px;
    border-radius: 10px;
    background-color: var(--rojo);
    font-family: var(--textos);
    margin-bottom: 70px;
}

.login .is-invalid{
    border-color: var(--bordo);
    background-color: var(--crema);
}

.login .is-valid{
    border-color: var(--verde);
}

small {
    background-color: var(--bordo);
    color: var(--crema);
    border-radius: 30px;
}

.login .contraseña {
    position: relative;
}

.login .icon-eye{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-5%);
    cursor: pointer;
    transition: .2s ease all;
}

.login .icon-eye:hover{
    color: var(--bordo);
}

@media (min-width: 481px){ 
    .login .tamaño{
        height: 26px;
        width: 290px;
    }
}
@media (min-width: 769px){ 
    .login .botonLoginContenedor {
        padding-top: 15px;
    }
    .login .tamaño{
        height: 32px;
        width: 310px;
    }
    .login .background{
        background-color: var(--amarillo);
        width: 50%;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}