main.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--subtitulos);
    background-color: var(--crema);
    width: 100%;
}
.register h1{
    font-family: var(--titulos);
    text-align: center;
    color: var(--rojo);
    margin-top: 35px;
    margin-bottom: 25px;
}
.register .cont.tituloRegister{
    border-bottom: solid 2px var(--rojo);
}
.register img {
    width: 50% ;
}
.register label{
    display: flex;
    justify-content: left;
    color: var(--bordo);
    font-weight: bold;
}
.register .tamaño{
    border-radius: 6px;
    border: solid 2px var(--rojo);
    height: 23px;
    width: 255px;
}
.register .tam {
    border-radius: 3%;
    border: solid 2px var(--rojo);
    height: 32px;
    width: 310px;
    background-color: white;
    color: black;
}
.register .tamaño-desc{
    border-radius: 3%;
    border: solid 2px var(--rojo);
    height: 90px;
    width: 310px;
}
.register .boton {
    border: none;
    color: white;
    width: 110px;
    padding: 9px;
    border-radius: 10px;
    background-color: var(--rojo);
    font-family: var(--textos);
}
.register .botonContenedor{
    border: none;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.register .formRegister{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
}
.register .formRegister p{
    margin-top: 40px;
}
.register .background{
    background-color: var(--amarillo);
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
}
/* js validation  */
.register .is-invalid{
    border: solid 3px var(--rojo);
    background-color: var(--crema);
}

.register .is-valid{
    border: solid 3px rgb(55, 172, 55);
    background-color: var(--crema);
}
.register .is-validSmall{
    border: solid 1px rgb(55, 172, 55);
    background-color: var(--crema);
    color: rgb(55, 172, 55);;
    padding: 1px;
    border-radius: 5px;
}
.register .is-invalidSmall{
    border: solid 1px var(--rojo);
    background-color: var(--crema);
    color: var(--rojo);;
    padding: 1px;
    border-radius: 5px;
}
@media (min-width: 481px){ 
    .register .tamaño{
        height: 26px;
        width: 290px;
    }
    .register .background{
        width: 384px;
    }
}
@media (min-width: 769px){ 
    .register .botonContenedor {
        padding-top: 15px;
    }
    .register .tamaño{
        height: 32px;
        width: 310px;
    }
    .register .background{
        width: 50%;
    }
}
 
    