main.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--subtitulos);
    background-color: var(--crema);
    width: 100%;
}
.register h1{
    font-family: var(--titulos);
    text-align: center;
    color: var(--rojo);
    margin-top: 35px;
    margin-bottom: 25px;
}
.register .cont.tituloRegister{
    border-bottom: solid 2px var(--rojo);
}
.register img {
    width: 50% ;
}
.register label{
    display: flex;
    justify-content: left;
    color: var(--bordo);
    font-weight: bold;
}
.register .tamaño{
    border-radius: 3%;
    border: solid 2px var(--rojo);
    height: 23px;
    width: 255px;
}
.register .boton {
    border: none;
    color: white;
    width: 110px;
    padding: 9px;
    border-radius: 10px;
    background-color: var(--rojo);
    font-family: var(--textos);
}
.register .botonContenedor{
    border: none;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.register .formRegister{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}


@media (min-width: 481px){ 
    .register .tamaño{
        height: 26px;
        width: 290px;
    }
}
@media (min-width: 769px){ 
    .register .botonContenedor {
        padding-top: 15px;
    }
    .register .tamaño{
        height: 32px;
        width: 310px;
    }
    .register .background{
        background-color: var(--amarillo);
        width: 50%;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}
 /* margin left formregister 38% 
    cambiar a flex, darle un flex al main, flex colum, agrandar los imput con hieght y width, sacar los margin, hacer git pull origin develop*/