.usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--subtitulos);
    background-color: var(--crema);
    width: 100%;
    justify-content: center;
}

.usuarios .titulo{
    font-family: var(--titulos);
    text-align: center;
    color: var(--rojo);
    margin-top: 35px;
    margin-bottom: 25px;
}

.usuarios .tit-container{
    border-bottom: solid 2px var(--rojo);
}

.usuarios .img-container{
    width: 50%;
}

.usuarios img{
    border-radius: 50%;
}

.usuarios h2 {
    text-align: center;
}

.usuarios form p{
margin-top: 20px;
margin-bottom: 20px;  
}

.usuarios form{
    width: 100%;
/*     display: flex;
    flex-direction: column;
    align-items: center; */
} 

.usuarios .datos{
/*     display: flex;
    justify-content: left; */
    color: var(--bordo);
    font-weight: bold;
}

.usuarios .boton{
    border: none;
    margin-top: 6px;
/*     display: flex;
    flex-direction: column;
    align-items: center; */
}

.usuarios button {
    border: none;
    color: var(--crema);
    padding: 9px;
    border-radius: 50px;
    background-color: var(--rojo);
    font-family: var(--textos);
    margin-bottom: 70px;
}


@media (min-width: 481px){ 

}


@media (min-width: 769px){ 
    .usuarios button {
        padding-top: 15px;
    }
}