<header >
    <div class="header">

        <div class="imgConteiner"><a class="linkLogo" href="/"> <img class="logo" src="/img/Logo_claro.png" alt="Logo"></a></div>
       
        <div class="esquina">
            <% if (!(locals.user)) { %>
                <a class="carrito" href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
                <a href="/users/login"> <img  class="user" src="/img/1200px-OOjs_UI_icon_userAvatar.svg.png" alt="user"> </a>
            <% } else {%>
                <a class="carrito" href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
                <a href="/users/Miperfil "> <img  class="user" src="/img/users/<%= locals.user.imagen %> " alt="user"> </a>
                <a class="carrito" href="/admin" style="display: <%= locals.user.rol === "admin"? "block" : "none" %>;" ><i class="fas fa-user-cog"></i></a> 
                <li><form action="/users/logout" method="GET"><button class="cerrarSesion"type="submit"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</button></form></li>   
            <% } %> 
        

        
        </div>


        <div class="menuBttn">
            <input class="menu" type="checkbox" id='menu'>
            <label class="hamburguesa" for='menu'>☰</label>
            <nav class="options">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="/about">SOBRE NOSOTRAS</a></li>
                    <li><a href="/about">CONTACTO</a></li>
                </ul>
            </nav>
        </div>

        <div class="searchBar">
            <form class="search" action="search" method="POST">
                <button class="searchBttn" type="submit"><i class="fas fa-search"></i></button>
                <input type="text" name="search" >
            </form>
        </div>

    </div>

</header>
