<header >
    <div class="header">

        <a class="imgConteiner" href="/"> <img class="logo" src="/img/Logo_claro.png" alt="Logo"></a>
       
        <div class="esquina">
        <a class="carrito" href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
        
        <a href="/users/login"> <img  class="user" src="/img/1200px-OOjs_UI_icon_userAvatar.svg.png" alt="user"> </a>

        <a class="carrito" href="/admin"><i class="fas fa-user-cog"></i></a>
        </div>


        <div class="menuBttn">
            <input class="menu" type="checkbox" id='menu'>
            <label class="hamburguesa" for='menu'>☰</label>
            <nav class="options">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/products">PRODUCTOS</a></li>
                    <li><a href="/about">SOBRE NOSOTRAS</a></li>
                    <li><a href="/about">CONTACTO</a></li>
                </ul>
            </nav>
        </div>

        <div class="searchBar">
            <form class="search" action="search" method="POST">
                <button class="searchBttn" type="submit"><i class="fas fa-search"></i></button>
                <input type="text" name="search" >
            </form>
        </div>

    </div>

</header>
