<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>La Siesta Arte</title>
</head>

<body>
    <header>

    </header>
  


    <!-- seccion home -->
    <main>
<!--  banner -->
        <section class="banner">

            <img src='/img/banner01.jpg' alt='Bienvenidos' />
            <i class="fas fa-solid fa-angle-left"></i>
            <i class="fas fa-solid fa-chevron-right"></i>
        </section>
<!-- sobre nosotras -->
        <section class="nosotras">

            <div>
                <img src='/img/nosotras.jpg' alt='Nosotras' />
            </div>

            <div>
                <h2 class="titulo">Sobre Nosotras</h2>
            </div>

            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, ab nam sed porro aperiam
                    pariatur recusandae modi animi! Qui minus corporis facere mollitia optio aspernatur hic consectetur
                    necessitatibus vitae doloribus?</p>
            </div>
            <button class="subt">Conocenos!</button>
        </section>
<!--         Termina sobre nosotras -->
<!-- Favoritos -->
        <section class="favoritos">
            <div>
                <h2 class="titulo">Favoritos</h3>
            </div>

            <article>
                <div class="img-container">
                    <img class="photo" src='/images/taza01-a.jpg' alt='Taza' />
                </div>
                <div class="description">
                    <small>Cocina</small>
                    <i class="fas fa-regular fa-heart"></i>
                    <h3 class="subt">Taza Mediana</h3>
                    <h2 class="subt">$1000</h2>
                    <p>Taza mediana, capacidad 500ml. Pintada con Aljabas</p>
                </div>
                <article>

                <article>
                    <div class="img-container">
                        <img class="photo" src='/images/taza01-a.jpg' alt='Taza' />
                    </div>
                    <div class="description">
                        <small>Cocina</small>
                        <i class="fas fa-regular fa-heart"></i>
                        <h3 class="subt">Ensaladera</h3>
                        <h2 class="subt">$3000</h2>
                        <p>Ensaladera grande, 30cm de diámetro. Pintada con Lupinos</p>
                    </div>
                <article>
        </section>
<!-- Termina Favoritos -->
<!-- Categorias -->
        <section class="categorias">

            <div class="img-container">

                <img src="" alt="">
                <a href="">Cocina</a>
                <img src="" alt="">
                <a href="">Baño</a>
                <img src="" alt="">
                <a href="">Decoración</a>
                <img src="" alt="">
                <a href="">Juegos de mesa</a>

            </div>

        </section>
<!-- Termina Categorias -->

<!-- Newsletter -->
        <section class="newsletter">

        </section>
<!-- Termina newsletter -->

<section class="mapa">
<h2 class="titulo">Donde encontrarnos</h2>

</section>

    </main>
</body>

</html>