<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img class="logo" src="/img/logoBordo.png" alt="Logo">
        </div> 
        <div>
            <img src="/img/1200px-OOjs_UI_icon_userAvatar.svg.png" alt="user">
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
        
        <nav>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">PRODUCTOS</a></li>
                <li><a href="">SOBRE NOSOTRAS</a></li>
                <li><a href="">CONTACTO</a></li>
            </ul>

            <form action="search" method="POST">
                <input type="text" name="search" >
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>

        </nav>
    </header>


    <footer>
        <nav>
            <ul>
                <h3>NOSOTRAS</h3>
                <li><a href="/home"></a>Home</li>
                <li><a href=""></a>Categorias</li>
                <li><a href=""></a>Favoritos</li>
                <li><a href=""></a>¿Como regalar arte♥sano</li>
                <li><a href=""></a>Preguntas Frecuentes</li>
            </ul>

            <ul>
                <h3>CONTACTANOS</h3>
                <li><a href="">+54 123 45678</a></li>
                <li><a href="">arte-sano@consultas.com</a></li>
            </ul>
        </nav>

         <img src="/img/logoBordo.png" alt="">

         <nav>
             <ul>
                 <li><a href=""><i class="fab fa-facebook"></i></a></li>
                 <li><a href=""><i class="fab fa-instagram"></i></a></li>
                 <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
             </ul>
         </nav>

    </footer>
</body>
</html>