<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>La Siesta Arte</title>
</head>
<body class="back">
 <main class="login">
   <img src="/img/logoRojo.png" alt="">
    <P><h1 class="titulo">REGISTRAR</h1></P>
    <form class="formLogin" action="/register" >
          <p>
            <label for="email">CORREO ELECTRONICO</label>
            <input type="email" placeholder="Ricardo@gmail.com" name="email" >
          </p>
          
          <p>
            <label for="password">CONTRASEÑA:</label>
            <input type="password" placeholder="**********" name="password">
          </p>
          <p class="botonLoginContenedor">
              <input class="botonLogin" type="submit" value="INICIAR SESION">
          </p>
    </form>
 </main>
</body>
</html>