<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>La Siesta Arte - Detalle de producto</title>
</head>
<body>
    <main>
        <h2>Nombre del producto</h2>
        <div class="producto">
            <section>
                <div class="imgPri">
                    <img src="/img/taza01-a.jpg" alt="Imagen principal">
                </div>
                <div class="miniaturas">
                    <div class="imgSec">
                        <img  src="/img/taza01-a.jpg" alt="Imagen miniatura 01">
                        <img  src="/img/taza01-b.jpg" alt="Imagen miniatura 02">
                        <img  src="/img/taza01-c.jpg" alt="Imagen miniatura 03">
                    </div>
                </div>
            </section>    
            <section>
                <h2>$12.345</h2>
                <h4>Descripción del producto</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad consequuntur tenetur illo ex delectus, quod dolorum.</p>
                <div class="cantidad">
                    <h4>Cantidad</h4>
                    <div>
                    <input class="agregarRestar" type="button" value="-">
                    <input type="number" value="1">
                    <input class="agregarRestar" type="button" value="+">
                    </div>
                </div>
                <div class="botones">
                    <input class="agregar" type="button" value="Agregar al carrito">
                    <input class="comprar" type="button" value="Comprar">
                </div>
            </section>
        </div>
        <section class="relacionado">
            <h4 class="titulo">Relacionados con tu carrito</h4>
            <article>
                <div class="miniaturas">
                    <div class="imgRelac">
                        <div class="prodRelac">
                            <img  src="/img/taza02-a.jpg" alt="Imagen miniatura 01">
                            <h4>Nombre del producto</h4>
                            <p>$12.345</p>
                        </div>
                        <div class="prodRelac">
                            <img  src="/img/taza03-a.jpg" alt="Imagen miniatura 01">
                            <h4>Nombre del producto</h4>
                            <p>$12.345</p>
                        </div>
                        <div class="prodRelac">
                            <img  src="/img/taza04-a.jpg" alt="Imagen miniatura 01">
                            <h4>Nombre del producto</h4>
                            <p>$12.345</p>
                        </div>  
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>