<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header >
        <div class="header">

            <a class="imgConteiner" href="/"> <img class="logo" src="/img/Logo_claro.png" alt="Logo"></a>
           
            <div class="esquina">
            <a class="carrito" href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            
            <img  class="user" src="/img/1200px-OOjs_UI_icon_userAvatar.svg.png" alt="user">
            </div>


            <div class="menuBttn">
                <input class="menu" type="checkbox" id='menu'>
                <label class="hamburguesa" for='menu'>☰</label>
                <nav class="options">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="">PRODUCTOS</a></li>
                        <li><a href="">SOBRE NOSOTRAS</a></li>
                        <li><a href="">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>

            <div class="searchBar">
                <form class="search" action="search" method="POST">
                    <button class="searchBttn" type="submit"><i class="fas fa-search"></i></button>
                    <input type="text" name="search" >
                </form>
            </div>

        </div>

    </header>

 <main class="register">
    <P class="cont.tituloRegister"><h1>Crea tu cuenta</h1></P>
    <div class="background">
    <form class="formRegister" action="/register" >
         
        <p>
            <label for="Nombre">NOMBRE Y APELLIDO</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo Ford" name="Nombre">
        </p>
        <p>
            <label for="telefono">TELEFONO</label>
            <input class="tamaño" type="tel" placeholder="ej: 0112345678" name="telefono">
        </p>
        <p>
        <label for="provincia">PROVINCIA</label>
        <select name="provincia" class="tamaño">
            <option value="1">Buenos Aires</option>
            <option value="2">Capital Federal</option>
            <option value="3">Catamarca</option>
            <option value="4">Chaco</option>
            <option value="5">Chubut</option>
            <option value="6">Córdoba</option>
            <option value="7">Corrientes</option>
            <option value="8">Entre Ríos</option>
            <option value="9">Formosa</option>
            <option value="10">Jujuy</option>
            <option value="11">Mendoza</option>
            <option value="12">Misiones</option>
            <option value="13">Neuquén</option>
            <option value="14">Río Negro</option>
            <option value="15">Salta</option>
            <option value="16">San Juan</option>
            <option value="17">San Luis/option>
            <option value="18">Santa Cruz</option>
            <option value="19">Santa Fe</option>
            <option value="20">Santiago del Estero</option>
            <option value="21">Tierra del Fuego</option>
            <option value="22">Octubre</option>
            <option value="23">Tucumán</option>
        </select>
        </p>
        <P>
            <label for="localidad">LOCALIDAD</label>
        <select name="localidad" class="tamaño">
            <option value="1">Ramos Mejia</option>
            <option value="2">Lomas de Zamora</option>
            <option value="3">Moron</option>
            <option value="4">Caballito</option>
            <option value="5">Ciudadela</option>
            <option value="6">Hurlingham</option>
            <option value="7">Monte Grande</option>
            <option value="8">Castillo</option>
            <option value="9">Lomas del Mirador</option>
            <option value="10">Liniers</option>
        </select>
        </P>
        <p>
            <label for="email">E-MAIL</label>
            <input class="tamaño" type="email" placeholder="ej: Ricardo@gmail.com" name="email" >
        </p>
          
        <p>
            <label for="password">CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password">
        </p>
        <p class="botonContenedor">
            <input class="boton" type="submit" value="CONFIRMAR">
        </p>
    </form>
</div>
 </main>
 <footer >
    <div class="footer">
        <nav class="Contact">
            <ul class="nosotras">
                <h3>NOSOTRAS</h3>
                <li><a href="/">Home</a></li>
                <li><a href=""></a>Categorias</li>
                <li><a href=""></a>Favoritos</li>
                <li><a href=""></a>¿Como regalar Siesta arte?</li>
                <li><a href=""></a>Preguntas Frecuentes</li>
            </ul>

            <ul class="contactanos">
                <h3>CONTACTANOS</h3>
                <li><a href="">+54 123 45678</a></li>
                <li><a href="">Siesta-Arte@consultas.com</a></li>
            </ul>
        </nav>

        <div class="LogoRedes" >
            <div class="ImgConteinerFooter">
                <img class="logoInf"src="/img/Logo_claro.png" alt="Logo">
            </div>
        
            <nav class="redes">
                <ul>
                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/lasiesta.arte/" ><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </nav>
        </div>



    </div>

    <div class="copyright">
        <p>Copyright 2021 - La Siesta arte</p>
    </div> 
</footer>
</body>
</html>