<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

   

 <main class="login">
    <P class="cont.titulo"><h1 class="titulo">INGRESA</h1></P>
    <div class="background">
    <form class="formLogin" action="/users/login" method="post" >
          <p>
            <label for="email">CORREO ELECTRONICO</label>
            <input class="tamaño" type="email" placeholder="ej: Ricardo@gmail.com" name="email" >
          </p>
          
          <p>
            <label for="password">CONTRASEÑA:</label>
            <input  class="tamaño" type="password" placeholder="**********" name="password">
          </p>
          <% if (locals.errors && errors.msg){ %>
            <small><%= errors.msg %> </small>
          
          <% } %> 
          <input type="checkbox" name="recuerdame" id="recuerdame">
          <label for="recuerdame">Recordarme</label>  
          <div class="botones">
            <button class="guardar">Iniciar Session</button>
        </div>
        <p>¿No tenés una cuenta? 
          <a href="/users/register">
            <p>¡Registrate acá!</p>
          </a> 
        </p>
    </form>
  </div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
</html>
<!-- para titulos generales main .titulo{
font-family: var(--titulos);
text-align: center;
color: var(--bordo);
margin-top: 15px;
}
.tit-container {
    padding-bottom: 7px;
    border-bottom: solid 2px var(--bordo);
    margin: 20px;
} color de texto y borde de los input. cambiar las generalidades del body al main. Hooder para los botones.
 -->
  