<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head.ejs")  %> 
<body>
    <%- include("../partials/header.ejs") %> 

 <main class="register">
    <P class="cont.tituloRegister"><h1>CREA TU CUENTA</h1></P>
    <div class="background">
 
        <!-- exprres me manda los errores hasta el controller, el problema esta en pasarlos del controller a la vita  -->

    <form class="formRegister" action="" method="POST" enctype="multipart/form-data" >
         
        <p>
            <label for="Nombre">NOMBRE Y APELLIDO</label>
            <input class="tamaño" type="text" placeholder="ej: Ricardo Ford" name="Nombre"  > 
        </p>
        <p>
            <label for="telefono">TELEFONO</label>
            <input class="tamaño" type="tel" placeholder="ej: 0112345678" name="telefono"  >  
        </p>
        <p>
        <label for="provincia">PROVINCIA</label>
        <select name="provincia" class="tamaño" >
            <option selected hidden>Seleccione tu provincia</option>
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Capital Federal">Capital Federal</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Octubre">Octubre</option>
            <option value="Tucumán">Tucumán</option>
        </select>
        </p>
        <P>
            <label for="localidad">LOCALIDAD</label>
        <select name="localidad" class="tamaño">
            <option selected hidden>Seleccione tu localidad</option>
            <option value="Ramos Mejia">Ramos Mejia</option>
            <option value="Lomas de Zamora">Lomas de Zamora</option>
            <option value="Moron">Moron</option>
            <option value="Caballito">Caballito</option>
            <option value="Ciudadela">Ciudadela</option>
            <option value="Hurlingham">Hurlingham</option>
            <option value="Monte Grande">Monte Grande</option>
            <option value="Castillo">Castillo</option>
            <option value="Lomas del Mirador">Lomas del Mirador</option>
            <option value="Liniers">Liniers</option>
        </select>
        </P>
        <p>
            <label for="email">E-MAIL</label>
            <input class="tamaño" type="email" placeholder="ej: Ricardo@gmail.com" name="email"  >
        </p>
          
        <p>
            <label for="password">CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password" >
        </p>

        <p>
            <label for="password">CONFIRMAR CONTRASEÑA:</label>
            <input class="tamaño" type="password" placeholder="**********" name="password2" >
        </p>

        <p>
            <label for="image">IMAGEN</label>
            <input class="tam" type="file"  name="image">
        </p>
        <div class="botones">
            
             <button class="guardar" type="submit">Crear cuenta</button>
            
        </div>
        <p>¿Ya tenés una cuenta? 
          <a href="/users/login">
            <p>¡Ingresá desde acá!</p>
          </a> 
        </p>
    </form>
</div>
 </main>
 <%- include("../partials/footer.ejs") %> 
</body>
</html>