<!DOCTYPE html>
<html>
  <head>
    <title>productos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Productos</h1>
    <% for (let i=0; i<productos.length; i++) { %>
      <li> <%= productos[i].id %> <%= productos[i].nombre %></a> <%= productos[i].precio %> 
        <% if(productos[i].categorias) { %> 
          <%= productos[i].categorias.nombre %>   </li>
        <% } %>
      <% } %> 
  </body>
</html>
